# Libraries

In [2]:
from Bank_Campaign_Conversion.utils.paths import data_raw_dir
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import duckdb
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import LogisticRegression

# Main

In [3]:
df=pd.read_csv(data_raw_dir("bank-full.csv"),sep=';')

In [4]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [5]:
df.columns = df.columns.str.lower().str.replace(' ', '_')

categorical_columns = list(df.dtypes[df.dtypes == 'object'].index)

for c in categorical_columns:
    df[c] = df[c].str.lower().str.replace(' ', '_')

In [6]:
df.y = (df.y == 'yes').astype(int)

In [ ]:
# Initialize the OneHotEncoder and LabelEncoder
one_hot_encoder = OneHotEncoder(sparse=False)  # For One-Hot Encoding of categorical variables
label_encoder = LabelEncoder()  # For Label Encoding of binary variables

# Variables to be transformed using OneHotEncoding
one_hot_columns = ['job', 'marital', 'education', 'contact', 'poutcome', 'month']

# Apply OneHotEncoder to the categorical nominal columns
df_one_hot = pd.DataFrame(one_hot_encoder.fit_transform(X_train[one_hot_columns]), columns=one_hot_encoder.get_feature_names_out(one_hot_columns))

# Variables to be transformed using LabelEncoding
label_columns = ['default', 'housing', 'loan']

# Apply LabelEncoder to the binary variables
for col in label_columns:
    X_train[col + '_encoded'] = label_encoder.fit_transform(X_train[col])

# Combine the newly encoded columns into the original DataFrame (X_train)
X_train = pd.concat([X_train, df_one_hot], axis=1)

# Drop the original columns that have been encoded (to avoid duplication)
X_train = X_train.drop(columns=one_hot_columns + label_columns)

# Display the final DataFrame
print(X_train.head())